<main>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>
    <section>Секція</section>

    <button id="buttonScroll">
        <img src="/svg/scroll_top.svg" alt="">
    </button>
</main>